@import "tailwindcss";




:root {
  background-color: #000;
  color: #fff;
}

body {
  /* CHANGED: Using rgba(255, 255, 255, 0.05) for 5% opacity grid lines */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  
  background-size: 50px 50px;
  background-color: #000000;
  
  /* Ensures full height without cutoffs */
  min-height: 100vh;
}

/* Scrollbar styling */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #555; }