body {
  background: #121212;
  color: white;
  font-family: monospace;
  text-align: center;
  padding: 20px;
}
video {
  width: 200px;
  margin: 10px;
  background: #000;
  border: 2px solid white;
  transform: scaleX(-1);
}
#remoteVideos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: scaleX(-1);
}
